[submodule "poky"]
	path = submodules/poky
	url = https://git.yoctoproject.org/git/poky

[submodule "meta-openembedded"]
	path = submodules/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
