[submodule "poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky

[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
