[Unit]
Description=Timer to prune sstate-cache.

[Timer]
#OnCalendar=*-*-* 04:00:00

OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
